<!DOCTYPE html>
<html>
  <head>
    <title>Sports League</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sports League using NodeJS</h1>
    <div>
      <h2><a href="/">Home</a></h2>
      <h2><a href="/teams">Teams</a></h2>
      <h2><a href="/match">Add a match</a></h2>
      <h2><a href="/new">Add a new team</a></h2>
    </div>
    <div>
      <h2>Add your own teams, your own matches, and have fun with it!</h2>
    </div>
  </body>
</html>
