<!DOCTYPE html>
<html>
  <head>
    <title>Sports League</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sports League using NodeJS</h1>
    <div>
      <h2><a href="/">Home</a></h2>
      <h2><a href="/teams">Teams</a></h2>
      <h2><a href="/match">Add a match</a></h2>
      <h2><a href="/new">Add a new team</a></h2>
    </div>
    <div>
      <form action="/new-team" method="post">
        <input type="text" placeholder="Team Name" name="name">
        <br>
        <input type="text" placeholder="Number of Players" name="players">
        <br>
        <input type="text" placeholder="Games Won (Default: 0)" name="wins">
        <br>
        <input type="text" placeholder="Games Lost (Default: 0)" name="losses">
        <br>
        <input type="submit" value="Add team to table">
      </form>
    </div>
  </body>
</html>
